.input {
  color: #343a40;
  border-color: #343a40;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
}

.dropdown-toggle {
  font-size: 12px;
}

.dropdown-menu {
  font-size: 12px;
  &.show {
    display: block;
  }

  .dropdown-item {
    cursor: pointer;
    &.selected {
      background-color: #dfdfdf;
    }

    &:hover {
      background-color: #dfdfdf;
    }
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
