.book {
  border: none;

  .book-info {
    min-height: 300px;
    .card-image {
      .img-fluid {
        display: flex;
        &.small {
          height: 150px;
        }

        &.large {
          height: 250px;
        }
      }
    }

    .book-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      &__title {
        font-weight: bold;
        color: black;
      }

      &__price {
        font-size: 22px;
      }
    }

  }
}


