.title {
  small {
    top: -8px;
    position: relative;
  }
}

.mobile {
  flex-direction: column;
  align-items: center;
}

.desktop {
  .filter-bar {
    margin-left: 40px;
  }

  .sign-out {
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
  }
}
